body {
  align-items: center;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* TOP BAR */

.top-bar {
    background: #000;
    color: #fff;
    font-size: 13px;
    padding: 8px 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Address text */
.top-bar .address {
  margin-left: 280px;
   text-align: center;
    white-space: nowrap;
}

/* Social icons container */
.top-bar .social-icons {
    display: flex;
    gap: 14px;
}

/* Icons */
.top-bar .social-icons i {
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}


/* NAVBAR */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffc107;   
  padding: 12px 40px;
}

.logo img {
  height: 150px;
}


.navbar {
    background: #FFC107;
    height: 110px;
    position: relative;
    padding-left: 180px;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}


/* Logo container */
.logo-wrapper {
    position: absolute;
    left: 40px;
    top:-30px;
    
    z-index: 10;
}

/* Logo image */
.logo-wrapper img {
    width: 140px;
}

.hero {
    background: linear-gradient(to right, #000 40%, #111 60%);
    min-height: 520px;

    display: flex;
    align-items: center;
    padding: 0 60px;
}

/* Left text */
.hero-content {
    width: 45%;
    color: #fff;
}

.navbar {
  background: #fcb900;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar li {
  cursor: pointer;
  font-weight: 500;
}

.auth a {
  margin-left: 10px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

/* HERO */
.hero {
  display: flex;
  padding: 60px;
  background: #111;
  color: white;
}

.hero-text {
  width: 30%;
}

.hero-text span {
  color: #fcb900;
}

.hero-image {
    width: 60%;   
    height: 100%;
    display: flex;
   
    justify-content: flex-end;
}
.hero-image img {
  width:150%;
}
.hero-text .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 18px;

    background: transparent;
    border: 1px solid #FFC107;
    border-radius: 50px;
    color: #FFC107;

    font-size: 13px;
    text-decoration: none;
    transition: 0.3s ease;
}

.hero-text .btn:hover {
    background: #FFC107;
    color: #000;
    border-color: #FFC107;
}
/* SECTION */
.who-we-are {
  width: 100%;
  background: #fff;
  padding: 80px 0;
}

/* MAIN CONTAINER */
.who-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;     /* vertical center */
  justify-content: space-between;
  gap: 60px;
}

/* LEFT CONTENT */
.who-left {
  width: 55%;
}

.who-left h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.who-left .intro {
  font-size: 14px;
  color: #000;
  margin-bottom: 25px;
  max-width: 480px;
}

.mission-box {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.mission-logo {
  width: 70px;
}

.mission-box p {
  font-size: 14px;
  color: #333;
  line-height: 1.6;
}

/* RIGHT CONTENT */
.who-right {
  width: 45%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BLACK CIRCLE */
.circle {
  width: 320px;
  height: 320px;
  background: radial-gradient(circle at top, #222, #000);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.circle p {
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.6;
}

/* CAR IMAGE */
.car-img {
  width: 320px;
  position: absolute;
  bottom: -30px;  
  left: -60px;   
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .who-container {
    flex-direction: column;
    text-align: center;
  }

  .who-left,
  .who-right {
    width: 100%;
  }

  .mission-box {
    justify-content: center;
  }

  .car-img {
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 20px;
  }
}

/* NEWS */
.news {
  padding: 60px;
  text-align: center;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  border-radius: 50px;
}

.card {
  border: 1px solid #ddd;
  padding: 20px;
  width: 33%;
}

.card img {
  width: 100%;
}
.card button{
  border-radius: 50px;
}
.red {
   display: inline-block;
    margin-top: 20px;
    padding: 10px 18px;
  color: #e53935;
  border: 2px solid #e53935;
}
.red:hover {
  background: #e53935;
  color: #fff;
}
.blue {
   display: inline-block;
    margin-top: 20px;
    padding: 10px 18px;
  color: #1e4fd6;
  border: 2px solid #1e4fd6;
}
.blue:hover {
  background: #1e4fd6;
  color: #fff;
}
.orange {
   display: inline-block;
    margin-top: 20px;
    padding: 10px 18px;
  color: #ff9800;
  border: 2px solid #ff9800;
}
.orange:hover {
  background: #ff9800;
  color: #fff;
}
/* ===== FOCUS AREA SECTION ===== */
.focus {
  background-color: #ffb703; 
  padding: 40px 80px;
}

/* main row */
.focus-areas {
  display: flex;
  align-items: center;
 justify-content: center;
}

/* left text */
.focus-text h2 {
  align-content: left;
  color:#fff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  width: 220px; 
}

/* right icons row */
.focus-items {
  display: flex;
  gap: 120px; /* spacing between items */
}

/* individual item */
.focus-items div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

/* icons styling */
.focus-items img {
  width: 48px;
  height: 48px;
  filter: brightness(0); /* makes icon black */
}

/* optional separator line image */
.focus + img {
  display: block;
  margin: 25px auto;
}

/* responsive */
@media (max-width: 768px) {
  .focus-areas {
    flex-direction: column;
    gap: 30px;
  }

  .focus-items {
    gap: 40px;
  }
}


/* GALLERY */
.gallery {
  display: flex;
  padding: 60px;
}

.gallery-text {
  width: 40%;
}

.gallery-image {
  width: 60%;
}

.gallery-image img {
  width: 100%;
}
.gallery-btn{
   display: inline-block;
    margin-top: 20px;
    padding: 10px 18px;
    color: #1e4fd6;
  border: 2px solid #1e4fd6;
  border-radius: 40px;
}
.blue:hover {
  background: #1e4fd6;
  color: #fff;
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .hero,
  .gallery,
  .cards {
    flex-direction: column;
  }

  .hero-text,
  .hero-image,
  .gallery-text,
  .gallery-image,
  .card {
    width: 100%;
  }

  .navbar ul {
    display: none;
  }
}

/* SUPPORTERS SECTION */
.supporters {
    width: 100%;
    padding: 60px 80px;
    background: #fff;
    box-sizing: border-box;
    align-items: center;
}

/* Section heading */
.supporters h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: left; 
}

/* Logo container */
.supporter-logos {
    display: flex;
    gap: 30px;
    align-items: center;
}

/* Individual logo box */
.supporter-logos img {
    width: 220px;
    height: 110px;
    object-fit: contain;

    padding: 20px;
    border: 1px solid #dcdcdc;
    background: #fff;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Main Footer */
.footer {
    background: #000;
    color: #fff;
    width: 100%;
}

/* Bottom Navbar (Top part) */
.footer-top {
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
}

/* Each horizontal division */
.footer-col {
    width: 23%;
}

/* Vertical division inside first 3 columns */
.footer-col h4 {
    font-size: 14px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.logo {
    width: 90px;
    margin-bottom: 15px;
}

.address {
    font-size: 13px;
    line-height: 1.6;
    color: #ccc;
}

.about-text {
    font-size: 13px;
    line-height: 1.6;
    color: #ccc;
}

/* Links column */
.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    font-size: 13px;
    margin-bottom: 8px;
    color: #ccc;
    cursor: pointer;
}

/* Connect section */
.social-icons {
    display: flex;
    gap: 15px;
    font-size: 16px;
}

.social-icons span {
    cursor: pointer;
}

/* Footer bottom bar */
.footer-bottom {

    margin-left: 55px;
    padding: 15px;
    font-size: 12px;
    color: #aaa;
}
/* Mobile */
@media (max-width: 576px) {}

/* Tablet */
@media (max-width: 768px) {}

/* Laptop */
@media (max-width: 992px) {}
@media (max-width: 768px) {

  body {
    overflow-x: hidden;
  }

  .hero {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .hero-text,
  .hero-image {
    width: 100%;
  }

  .cards {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .focus-items {
    flex-direction: column;
    gap: 30px;
  }

  .supporter-logos {
    flex-direction: column;
  }

  .footer-top {
    flex-direction: column;
    gap: 30px;
  }

  .footer-col {
    width: 100%;
  }
}
